<ul>
    <li><a href="http://www.hb.xinhuanet.com/2014-05/30/c_1110928355.htm" target="_blank" h="ID=SERP,5374.1">首届"中国屈原<strong>诗歌</strong>奖"宜昌揭晓 军旅诗人李瑛摘冠</a></li>
    <li><a href="http://blog.sina.com.cn/s/blog_75dd29ed0101f2iw.html" target="_blank">“湘家荡之恋”国际散文诗大赛征文</a> <i>|美国《常青藤》诗刊博客|</i></li>
    <li><a href="https://github.com/poemus/poemus.github.io/edit/master/news.ejs">+添加新闻+</a></li>
</ul>